* {
    font-family: "Calibri, sans-serif";
}

div {
    display:block;
}

header {
    top:0
}

#title {
    float: left;
    padding-right: 13em;
    font-size: 12pt;
}

.name {
    font-weight: bold;
    font-size: 24px;
    margin:0;
    padding:0;
}

.subtitle {
    font-weight: bold;
    font-size: 20px;
    margin:0;
    padding:0;
    color: rgb(152,0,0);
}

#contact {
    float: right;
}

body {
    padding: 2em;
}

main {
    clear:left;
    padding-top:3em;
}

p {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.section {
    text-transform: uppercase;
    /* prevent 1em added by useragent stylesheet */
    margin-block-start: 0; 
    margin-block-end: 0; 
    font-size: 13px;
}

.hl {
    color: rgb(152,0,0);
    display: unset;
    font-weight: bold;
}

.b {
    font-weight: bold;
    display: inline;
}

.noblock {
    display: inline;
}

.item-with-date {
    margin-bottom: 2em;
}

.daterange {
    float: left;
}

.dateditem {
    margin-left: 140px;
}


img {
    width:1em; 
    height:1em;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    text-align: center;
    /* display: unset; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgrey;
    font-style: oblique;
}

.visit-counter {
    display: inline;
    padding: 0.3em;
}


/* SSB UI Style */
#ssb-container {
    position: fixed;
    top: 30%;
	z-index: 1;
}

.ssb-btns-right {
    right: 0;
}


#ssb-container ul {
    padding: 0;
    margin: 0;
}

#ssb-container ul li {
    list-style: none;
    margin: 0;
}

#ssb-container ul li {
    line-height: 45px;
}

#ssb-container ul li p {
    margin: 0;
}

#ssb-container ul li a {
    padding: 0 15px 0 0;
    display: block;
    line-height: 45px;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
}

#ssb-container ul li span {
    line-height: 45px;
    width: 50px;
    text-align: center;
    display: inline-block;
}


#ssb-container ul li a:hover {
    text-decoration: none;
}

#ssb-container .ssb-share-btn {
    position: relative;
}

#ssb-container .ssb-share-btn span,
#ssb-container.ssb-btns-left .ssb-share-btn span {
    float: none;
}

#ssb-container .ssb-share-btn a {
    padding: 0;
}

#ssb-container.ssb-anim-icons ul li {
    transition: transform 100ms;
}

#ssb-container.ssb-anim-icons.ssb-btns-right ul li:hover {
    transform: translate(-15px, 0);
}

#ssb-container.ssb-anim-icons.ssb-btns-left ul li:hover {
    transform: translate(15px, 0);
}

#ssb-container ul li.ssb-share-btn:hover .ssb-social-popup {
    display: block;
}

.ssb-social-popup {
    position: absolute;
    top: 100%;
    left: 100%;
    margin: 0 0 0 -50px;
    width: 155px;
    display: none;
}

#ssb-container.ssb-btns-right .ssb-social-popup {
    right: -100%;
    margin: 0 0 0 -110px;
    left: 0;
}

#ssb-container .ssb-social-popup a {
    padding: 0 !important;
    text-align: left !important;
}

/* SSB responsiveness: 
width < 640:    Hide
width 640-768:  Don't expand onhover
width > 768:    Expand normally
 */
@media (max-width: 640px) {
    .ssb-disable-on-mobile {
        display: none;
    }
}


#ssb-btn-2{background: #1b2748;}
#ssb-btn-2:hover{background:rgba(27,39,72,0.9);}
#ssb-btn-2 a{color: #ffffff;}
.ssb-share-btn,.ssb-share-btn .ssb-social-popup{background:#1b2748;color:#ffffff}.ssb-share-btn:hover{background:rgba(27,39,72,0.9);}.ssb-share-btn a{color:#ffffff !important;}#ssb-btn-1{background: #25355f;}
#ssb-btn-1:hover{background:rgba(37,53,95,0.9);}
#ssb-btn-1 a{color: #ffffff;}
#ssb-btn-3{background: #1b2748;}
#ssb-btn-3:hover{background:rgba(27,39,72,0.9);}
#ssb-btn-3 a{color: #ffffff;}

